.navMenu, .title{
  color: #010101 !important;
}
.navConnexion{
  border: 1px solid #FFC20F !important;
  border-radius: 5px;
}
.navInscription{
  border: 1px solid #FFC20F !important;
  border-radius: 5px;
  background-color: #FFC20F !important;
}
.containAccueil{
  padding-top: 5%;
}
.containDetailProduit{
  padding-top: 11%;
}
.imageCarousel{
  min-height: 400px;
  max-height: 400px;
  max-width: 100%;
  min-width: 100%;
}
.containLogoFoot{
  width: 10%;
}
.bg-footer{
  background-color: #FFC20F;
}
.containLinkCard{
  text-decoration: none !important;
}
.pointerEvents{
  pointer-events: none;
}
.containImageDetailProduit{
  width: 35rem;
}
.no-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  color: #010101;
}
.eyes{
  top: 2rem;
}
@media (min-width:320px) and (max-width:767px){
  .containImageDetailProduit{
    width: 15rem;
  }
  .responsiveDetailProduit{
    display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}
@media (min-width:768px) and (max-width:1024px){
  .containImageDetailProduit{
    width: 25rem;
  }
  .responsiveDetailProduit{
    display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}
@media (min-width:320px) and (max-width:580px){
  .responsivePadding{
    margin-top: 1.99rem !important;
  }
}